@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:700');
@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
//@import "../bower_components/bootstrap/dist/js/bootstrap.min.js";
//@import "../bower_components/jquery/dist/jquery.min.js";
@import "../bower_components/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css";


$local-font: "Open Sans", sans-serif;


body {
  box-sizing: border-box;
  background-color: #f6f6f6;

  .main-container {
    //@media screen and (min-width: 403px) and  (max-width: 933px) {
    //  width: 717px;
    //}
    //
    //@media screen and (max-width: 717px) {
    //  width: 402px;
    //}

    @media screen and (min-width: 934px) {
      width: 934px;
    }

    @media screen and (max-width: 933px) and (min-width: 718px) {
      width: 717px;
    }

    @media screen and (max-width: 717px) {
      width: 402px;
    }

    @media screen and (min-width: 320px) and (max-width: 716px) {
      width: 320px;
    }

    width: 934px;
    margin: 0 auto;
    padding: 30px 50px;

    .description-product {
      @media screen and (min-width: 401px) and (max-width: 933px) {
        position: relative;
        top: 40px;
      }

      @media screen and (max-width: 717px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        top: 105px;
      }
      display: flex;

      .image-product {
        @media screen and (max-width: 717px) {
          position: relative;
        }

        background-color: #eaf2f4;
        width: 400px;
        height: 420px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info-product {
        @media screen and (min-width: 716px) and (max-width: 933px) {
          margin-left: 20px;
        }

        @media screen and (max-width: 717px) {
          margin: 0 35px;
        }
        margin-left: 60px;
        width: 365px;

        .title-product {
          @media screen and (min-width: 716px) and (max-width: 933px) {
            position: absolute;
            top: -35px;
            left: 0;
          }

          @media screen and (max-width: 717px) {
            position: absolute;
            top: -80px;
            padding: 0 55px 0 30px;
          }

          h2 {
            font-family: "Oswald", sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #2c303d;
          }
        }

        .id-item{
          span {
            font-family: $local-font;
            font-size: 10px;
            font-weight: 400;
            color: #2c303d;
          }
        }

        .price-product {
          margin-bottom: 10px;

          span.full-price {
            @media screen and (max-width: 933px) {
              font-size: 36px;
            }

            text-decoration: line-through;
            color: #2c303d;
            font-family: $local-font;
            font-weight: 700;
            font-size: 24px;
          }

          span.stock-price {
            @media screen and (max-width: 933px) {
              font-size: 36px;
            }

            margin-left: 20px;
            color: #ce2c52;
            font-family: $local-font;
            font-weight: 700;
            font-size: 24px;
          }
        }

        .rating {
          display: inline-flex;
          align-items: center;

          i.star {
            color: #ce2c52;
            font-size: 18px;
          }

          i.empty-star {
            color: #ababab;
            font-size: 18px;
          }
        }

        .share-btn {
          @media screen and (max-width: 717px) {
            margin-left: 15px;
          }
          display: inline-flex;
          flex-wrap: wrap;
          position: relative;

          button.share-it {
            @media screen and (max-width: 933px) {
              display: none;
            }

            cursor: pointer;
            outline: none;
            background-color: transparent;
            border: none;
            margin-left: 20px;
            color: #2c87ce;
            font-size: 18px;
            font-family: $local-font;
            font-weight: 700;

            &:focus + .social-table {
              display: inline-flex;
            }
          }

          .social-table {
            @media screen and (min-width: 716px) and (max-width: 933px) {
              display: flex;
              background: transparent;
            }
            @media screen and (max-width: 717px) {
              display: flex;
              background: transparent;
              position: relative;
              top: 0;
              left: 0;
            }

            width: 290px;
            height: 100px;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            top: 35px;
            left: -100px;
            display: none;


            &:after {
              @media screen and (max-width: 933px) {
                display: none;
              }

              content: '';
              border: 10px solid;
              border-color: transparent transparent #ffffff;
              position: absolute;
              top: -20px;
            }

            .share {
              @media screen and (max-width: 933px) {
                display: none;
              }

              span.title {
                margin-right: 70px;
                color: #2c87ce;
                font-size: 16px;
                font-family: $local-font;
                font-weight: 700;
              }

              .btn-exit {
                margin-left: 70px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;
                color: #2c87ce;
              }
            }

            .soc-icon {
              a {
                @media screen and (min-width: 716px) and (max-width: 933px) {
                  display: flex;
                  position: relative;
                  top: -45px;
                  left: -455px;
                  margin: 10px;
                }

                @media screen and (max-width: 717px) {
                  margin: 4px;
                }

                cursor: pointer;
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 45px;
                border: 1px solid #2c87ce;
                border-radius: 50%;

                i.soc-icon {
                  color: #2c87ce;
                  font-size: 16px;
                }
              }
            }
          }
        }

        .detail {
          @media screen and (max-width: 717px) {
            margin-top: 0;
          }
          margin-top: 30px;

          span.det {
            @media screen and (min-width: 716px) and (max-width: 933px) {
              display: flex;
            }

            text-transform: uppercase;
            font-family: $local-font;
            font-weight: 700;
            font-size: 14px;
            color: #282828;
            display: none;
          }

          .inf {
            margin-top: 5px;

            p {
              @media screen and (max-width: 717px) {
                font-size: 14px;
                margin-bottom: 0;
              }

              font-family: $local-font;
              font-weight: 300;
              color: #282828;
              font-size: 12px;
            }
          }

          .size-product {
            @media screen and (min-width: 716px) and (max-width: 933px) {
              display: inline-flex;
              flex-wrap: wrap;
              margin-top: 10px;
            }

            @media screen and (max-width: 717px) {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              margin-top: 15px;
            }

            margin-top: 30px;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            span.sel-sz{
              @media screen and (max-width: 933px) {
                display: flex;
              }

              font-size: 14px;
              color: #2c303d;
              font-family: $local-font;
              font-weight: 700;
              display: none;
            }

            span.size {
              @media screen and (max-width: 933px) {
                display: none;
              }

              margin-right: 20px;
              color: #2c303d;
              font-family: $local-font;
              font-weight: 700;
            }

            form {
              @media screen and(max-width: 933px) {
                margin-left: 0;
              }
              margin-left: 15px;

              label.rad {
                @media screen and (max-width: 717px) {
                  margin: 10px;
                }

                cursor: pointer;
                margin: 3px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: relative;
                background-color: #fff;
                border: 1px solid #2c303d;

                span.sz {
                  padding: 20px;
                  font-family: $local-font;
                  font-weight: 700;
                  font-size: 14px;
                  color: #2c303d;
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }

              input {
                display: none;

                &:checked + label {
                  background-color: #2c303d;
                }

                &:checked + label span.sz {
                  color: #ffffff;
                }
              }
            }
          }

          .add-to-basket{
            @media screen and (max-width: 717px) {
              display: flex;
              justify-content: center;
              margin-top: 5px;
            }
            margin-top: 15px;
            .btn-add{
              cursor: pointer;
              text-transform: uppercase;
              border-radius: 25px;
              background-color: #8ae6cf;
              border: none;
              color: #2c303d;
              padding: 10px 55px;
              font-size: 16px;
              font-family: $local-font;
              font-weight: 700;
              outline: none;
            }
          }
        }
      }
    }

    .title-products {
      @media screen and (min-width: 716px) and (max-width: 933px) {
        display: flex;
        justify-content: center;
      }

      @media screen and (max-width: 717px) {
        display: flex;
        justify-content: center;
        margin-top: 130px;
      }

      margin-top: 65px;

      h2 {
        @media screen and (max-width: 717px) {
          font-size: 24px;
        }
        text-transform: uppercase;
        color: #2c303d;
        font-family: $local-font;
        font-weight: 700;
      }
    }

    .products {
      @media screen and (min-width: 716px) and (max-width: 933px) {
        display: flex;
        justify-content: space-between;
      }

      @media screen and (max-width: 717px) {
        display: flex;
        justify-content: center;
      }

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .image {
        @media screen and (min-width: 716px) and (max-width: 933px) {
          display: flex;
          justify-content: space-between;
          margin: 20px 15px;
        }

        @media screen and (max-width: 717px) {
          display: none;
        }

        position: relative;
        margin-top: 10px;
        width: 270px;
        height: 270px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .price-list{
          @media screen and (min-width: 716px) and (max-width: 933px) {
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgba(138, 230, 207, 0.81);
          }

          background-color: #8ae6cf;
          position: absolute;
          right: 0;
          bottom: 25px;

          span.price-full{
            @media screen and (min-width: 716px) and (max-width: 933px) {
              display: none;
            }

            text-decoration: line-through;
            font-family: $local-font;
            font-weight: 700;
            font-size: 18px;
            bottom: 30px;
            right: 70px;
            padding: 0 10px;
          }

          span.stock-price{
            @media screen and (min-width: 716px) and (max-width: 933px) {
              color: #2c303d;
            }

            font-family: $local-font;
            font-weight: 700;
            font-size: 18px;
            bottom: 30px;
            right: 0px;
            color: #ce2c52;
            padding: 0 10px;
          }
        }
      }

      .carousel{
        @media screen and (max-width: 717px) {
          display: flex;
        }

        display: none;
        .carousel-inner{
          .carousel-item{

            .price-list{
              position: relative;
              bottom: 25px;


              span.price-full{
                position: absolute;
                color: #ce2c52;
                background-color: rgba(138, 230, 207, 0.81);
                font-family: $local-font;
                font-weight: 700;
                font-size: 18px;
                padding: 0 105px;
              }
            }
          }
        }
      }
    }
  }
}









