@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:700');
body{
  box-sizing: border-box;
}
.description-product {
  display: flex;
  margin: 40px 60px;

  .image-product {
    background-color: #eaf2f4;
    width: 340px;
    height: 450px;

    img {
      padding: 25px 45px;
      width: 335px;
      height: 450px;
      object-fit: cover;
    }
  }

  .info-product {
    padding-left: 45px;
    width: 600px;

    .title-product {

      h2 {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #2c303d;
      }

      small {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #2c303d;
      }
    }

    .price-product {
      padding: 15px 0;
      word-spacing: 22px;

      span.full-price {
        text-decoration: line-through;
        color: #2c303d;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
      }

      span.stock-price {
        color: #ce2c52;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
      }
    }

      .rating {
        display: inline-flex;
        align-items: center;

        i.star {
          color: #ce2c52;
          font-size: 18px;
        }

        i.empty-star {
          color: #ababab;
          font-size: 18px;
        }

        span.share-it{
          margin-left: 30px;
          color: #2c87ce;
          font-size: 18px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
        }
      }

    .social-table{
      width: 230px;
      height: 90px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      margin: 10px 60px;

      &:after{
        content: '';
        border: 10px solid;
        border-color: transparent transparent #ffffff;
        position: absolute;
        top: -20px;
      }

      .share{
        display: flex;
        justify-content: space-between;
        align-items: center;


        span.title{
          margin-right: 45px;
          color: #2c87ce;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
        }

        .btn-exit{
          margin-left: 45px;
          cursor: pointer;
          background-color: transparent;
          border: none;
          outline: none;
          color: #2c87ce;
        }
      }

      a{
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #2c87ce;
        border-radius: 50%;
        i.soc-icon{
          color: #2c87ce;
          font-size: 20px;
        }
      }
    }

    .detail{
      .details-product{
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: #282828;
        font-size: 14px;
      }

      .size-product{
        display: flex;
        align-items: center;

        text-transform: uppercase;

        span.size{
          margin-right: 20px;
          color: #2c303d;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
        }

        form{
          label.rad{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: relative;
            background-color: #fff;
            border: 1px solid #2c303d;

            span.sz{
              font-family: "Open Sans", sans-serif;
              font-weight: 700;
              font-size: 14px;
              color: #2c303d;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          input{
            display: none;

            &:checked + label{
              background-color: #2c303d;
            }

            &:checked + label span.sz{
              color: #ffffff;
            }
          }
        }
      }

      .add-to-basket{
        margin-top: 15px;
        .btn-add{
          text-transform: uppercase;
          border-radius: 25px;
          background-color: #8ae6cf;
          border: none;
          color: #2c303d;
          padding: 10px 40px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          outline: none;
        }
      }
    }
  }
}

.title-products{
  display: flex;
  margin-left: 60px;
  h2 {
    text-transform: uppercase;
    color: #2c303d;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
}

.products{
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;

  img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .image-stock{
    display: inline-flex;

    span.price-full{
      text-decoration: line-through;
      background-color: #8ae6cf;
      position: absolute;
      font-family: "Open Sans",sans-serif;
      font-weight: 700;
      font-size: 18px;
      bottom: 30px;
      right: 70px;
      padding: 0 10px;
    }

    span.stock-price{
      background-color: #8ae6cf;
      position: absolute;
      font-family: "Open Sans",sans-serif;
      font-weight: 700;
      font-size: 18px;
      bottom: 30px;
      right: 0px;
      color: #ce2c52;
      padding: 0 10px;

    }
  }
  .image{
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;

    span.price{
      background-color: #8ae6cf;
      position: absolute;
      font-family: "Open Sans",sans-serif;
      font-weight: 700;
      font-size: 18px;
      bottom: 30px;
      right: 0;
    }
  }
}








